:root {
  --content-box-color: #0f0a28;
  --content-box-border-color: #1b1248;
  --h2-color: #fff29c;
  --text-color: #cccccc;

  --table-title-color: #fff29c;
  --table-first-background-color: #1b1248;
}
