:root {
  --content-box-color: #0f0a28;
  --content-box-border-color: #1b1248;
  --h2-color: #fff29c;
  --text-color: #cccccc;

  --table-title-color: #fff29c;
  --table-background-color: #1b1248;

  --visitor-box-color: #1b1248;
  --nickname-field-color: #0f0a28;
}
