@import url('./pallette.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
  box-sizing: border-box;
  font-size: 20px;
  color: var(--text-color);
}

html {
  background-image: url('../images/background.png');
  background-size: 1800px;
}

h2 {
  margin-bottom: 10px;
  color: var(--h2-color);
  font-size: 30px;
}

input:focus {
  outline: none;
}

div.wrapper {
  width: 1000px;
  margin: auto;
}

div.content-box {
  margin: 30px 0 30px 0;
  width: 100%;
  padding: 20px;
  border: 3px solid var(--content-box-border-color);
  background-color: var(--content-box-color);
  border-radius: 20px;
}

.movies-table {
  border: none;
  margin: 20px;
  text-align: center;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
}

.movies-table th {
  height: 40px;
}

.movies-table td {
  padding: 7px;
}

.movies-table tr:nth-child(2n + 1) {
  background-color: var(--table-background-color);
}

.movies-table img {
  width: 130px;
}

.no-th {
  width: 50px;
}

.title-th {
  width: 150px;
}

.poster-th {
  width: 130px;
}

.story-th {
  width: 450px;
}

.shortcut-th {
  width: 150px;
}

.visitor-box {
  background-color: var(--visitor-box-color);
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
}

#nickname {
  background-color: var(--nickname-field-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  border: none;
}

.movie-alias {
  margin-right: 10px;
}

.submit-button {
  position: relative;
  padding: 10px;
  margin-top: 5px;
  background-color: var(--content-box-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  left: 170px;
}
